@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100&display=swap');

*{
  box-sizing: border-box;
  margin:0;
  padding:0;
  font-family: "Raleway", sans-serif;
  color:white;
}

img{
  width:100%;
}

#tsparticles{
  position: fixed;
  width: 100%;
  height:100%;
  z-index: -1;
  background-color:black;
}

.header{
  width:100%;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height:100vh;
  user-select: none;
  animation: fadeIn;
  animation-duration:5s;
}

.header h1{
  font-size:72px;
}

.button{
  display:flex;
  align-items: center;
  letter-spacing: 0.2em;
  font-size:32px;
  padding:20px 40px;
  border-radius:10px;
  border:1px solid #08aacd;
  margin-top:50px;
  transition:background ease-in 0.3s;
  cursor:pointer;
}


.button *{
  margin:0px 10px;
}

.button:hover{
  background-color:#08aacd;
}

.members{
  display:flex;
  align-items:center;
  justify-content:center;
  margin:auto;
  flex-wrap: wrap;
  max-width:1000px;
  column-gap:10px;
  padding:20px;
  height: 100vh;

}

.members-title{
  display:flex;
  justify-content: center;
  margin-top:100px;
}

.members-title h1{
  letter-spacing: 0.2em;
}

.member{
  border: 1px solid #08aacd;
  border-radius:4px;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items:center;
  padding:10px;
  flex: 1 0 21%;
  transition: transform ease-in 0.1s;
}

.member:hover{
  transform:translateY(-10px);
}

.member h3{
  color: #08aacd;
  text-align: center;
}

.member h2{
  margin: 10px 0px;
  background: linear-gradient(to top left,#08aacd,#6610f2);
  padding: 5px 10px;
  border-radius: 4px;
}

.member p{
  text-align: center;
  margin: 10px 0px;
}

.downloads-title{
  display:flex;
  justify-content: center;
  margin-top:100px;
  margin-bottom:50px;
}

.downloads-title h1{
  letter-spacing: 0.2em;
}

.downloads{
  margin:20px;
  max-width:1000px;
  display:flex;
  margin:auto;
  min-height:500px;
  margin-bottom:50px;
  border-radius: 4px;
  padding:20px;
}

.sidebar{
  background-color:#cacaca;
  padding:20px;
  display:flex;
  align-items:flex-start;
  border-radius: 4px 0px 0px 4px;
}

.sidebar-text{
  color:black;
  margin-left:10px;
  font-family: monospace;
}

.links{
  padding:20px;
  background-color: #f4f4f4;
  border-radius: 0px 4px 4px 0px;
  width:100%;
}

.link-title{
  color:black;
  text-align: right;
  width:100%;
  padding:20px;
  font-family: monospace;
  border-bottom:1px solid #cacaca;
  cursor:pointer;
}

.link-title:hover{
  background-color:#cacaca;
}


#root > div > div.downloads > div.links > div > h3 > svg > path{
  color: #08aacd;
}

.status{
  width:12px;
  height:12px;
  margin-top:3px;
  background-color:green;
  border-radius: 50%;
  box-shadow:0 0 0 3px greenyellow;
}



@media screen and (max-width:800px){
  .member{
    flex: 1 0 40%;
  }

  .downloads-title{
    margin-top: 150px;
  }
}
