@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100&display=swap');

*{
  box-sizing: border-box;
  margin:0;
  padding:0;
  font-family: "Raleway", sans-serif;
  color:white;
}

img{
  width:100%;
}

#tsparticles{
  position: fixed;
  width: 100%;
  height:100vh !important;
  z-index: -1;
  background-color:black;
}

#tsparticles > canvas{
  height:100vh;
}

.header{
  width:100%;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height:100vh;
  user-select: none;
  animation: fadeIn;
  animation-duration:5s;
}


.header h1{
  font-size:72px;
}

.button{
  display:flex;
  align-items: center;
  letter-spacing: 0.2em;
  font-size:32px;
  padding:20px 40px;
  border-radius:10px;
  border:1px solid #08aacd;
  margin-top:50px;
  transition:background ease-in 0.3s;
  cursor:pointer;
}


.button *{
  margin:0px 10px;
}

.button:hover{
  background-color:#08aacd;
}

.og-nuts{
  display:flex;
  align-items: flex-end;
  text-shadow: rgba(0, 0, 0, 1) 5px 5px 6px;
}

.og-nuts span{
  font-size:20px;
  font-weight: 800;
}

.og-nuts h1{
  color:#08aacd;
  font-weight:bolder;
  margin-bottom: 0 !important; 
}

.members{
  display:flex;
  align-items:flex-start;
  justify-content:center;
  margin:auto;
  flex-wrap: wrap;
  max-width:1000px;
  column-gap:30px;
  row-gap: 30px;
  padding:20px;
}

.members-container{
  display:flex;
  flex-direction:column;
  justify-content:flex-end;
  align-items: center;
  padding:50px 0px;
  margin-top:100px;
  background: #1e1f1e;
  /* 303245 */
}

.members-container h1{
  letter-spacing: 0.2em;
  margin-bottom:20px;
}

.member{
  border: 1px solid #08aacd;
  background: #252524;
  border-radius:10px;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items:center;
  padding:10px;
  flex: 1 0 21%;
  transition: transform ease-in 0.1s, box-shadow 0.3s ease, border 0.3s ease;
}

.member:hover{
  transform:translate(-5px, -5px);
  box-shadow: 3px 3px 5px #08aacd;
  border:none;
}

.member h3{
  color: #fff;
  font-weight: bold;
  text-align: center;
}

.member h2{
  margin: 10px 0px;
  background: #08aacd;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  padding: 5px 10px;
  border-radius: 4px;
}

.member p{
  text-align: center;
  margin: 10px 0px;
}

.member img{
  padding:20px;
  border-radius: 50%;
}

.downloads{
  width:100%;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height:100vh;
  user-select: none;
  animation: fadeIn;
  animation-duration:5s;
  margin-top:100px;
}

.downloads h1{
  font-size:72px;
}

.login-options{
  display:flex;
  justify-content: center;
  flex-wrap:wrap;
  gap:20px;
  padding:20px;
}

.joinus{
  background-color:#1e1f1e;
  display:flex;
  justify-content:space-between;
  padding: 80px 0px;
}

.joinus-left{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding:20px;
  text-align: center;
  flex: 1 0 40%;
}

.joinus-right{
  display:flex;
  justify-content: flex-end;
}

.joinus-right img{
  border-radius: 10px;
  transform:skew(-5deg,-5deg);
  width:75%;
  margin-right:50px;
  transition:transform 0.3s ease, box-shadow 0.3s ease;
  border:1px solid #08aacd;
  box-shadow: -3px -3px 5px #08aacd, #252524 -20px -20px 0px 0px;
}

.joinus-right img:hover{
  transform:skew(-5deg,-5deg) translate(10px,10px);
  box-shadow: -3px 3px 5px #08aacd, #252524 -30px -30px 0px 0px;
}

.joinus-title{
  display:flex;
  align-items:flex-end;
  margin-bottom:5px;
  text-shadow: rgba(0, 0, 0, 1) 5px 5px 6px;
}

.joinus-title h1{
  color:#08aacd;
}

.joinus-title span{
  font-size:20px;
  font-weight: 800;
}

.stats{
  background-color: #1e1f1e;
  display:flex;
  row-gap: 30px;
  column-gap: 30px;
  padding:100px 20px;
}

.stat{
  background-color: #252524;
  flex: 1 1 0;
  text-align: center;
  padding:20px;
  border-radius: 10px 10px 0px 0px ;
  border-bottom: 2px solid #08aacd;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.stat:hover{
  box-shadow: 0px 3px 5px #08aacd;
  transform: translateY(-3px);
}


.stat-bottom h2{
  margin: 5px 0px;
}

.gameplay{
  background-color:#1e1f1e;
  display:flex;
  justify-content:space-between;
  padding: 80px 0px;
}

.gameplay-left{
  display:flex;
  justify-content: flex-end;
}

.gameplay-left video{
  border-radius: 10px;
  transform:skew(5deg,5deg);
  width:75%;
  margin-right:50px;
  transition:transform 0.3s ease, box-shadow 0.3s ease;
  border:1px solid #08aacd;
  box-shadow: 3px -3px 5px #08aacd, #252524 20px -20px 0px 0px;
}

.gameplay-left video:hover{
  transform:skew(5deg,5deg) translate(-10px,10px);
  box-shadow: 3px 3px 5px #08aacd, #252524 30px -30px 0px 0px;
}

.gameplay-right{
  display:flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding:20px;
  text-align: center;
  flex: 1 0 40%;
}

.gameplay-games{
  display:flex;
  justify-content:space-between;
  align-items: center;
  column-gap:30px;
  row-gap:30px;
  padding:30px;
}

.game{
  flex:1 1 0;
}

.footer{
  display:flex;
  justify-content: center;
  padding:20px;
  background-color:#252524;
}

.footer *{
  margin: 0px 3px;
}

.footer a{
  text-decoration: none;
}

.footer a:hover{
  color:#08aacd;
}





@media screen and (max-width:800px){
  .member{
    flex: 1 1 40%;
  }

  .joinus{
    flex-wrap:wrap;
    flex-direction: column-reverse;
    column-gap:30px;
    row-gap:30px;
  }
  
  .joinus-right img{
    margin: auto;
    transform:none;
    box-shadow:none;
  }

  .joinus-right img:hover{
    transform: translateY(10px);
    box-shadow: -3px -3px 5px #08aacd;
  }

  .stats{
    flex-wrap:wrap;
  }

  .stat{
    flex: 1 0 40%;
  }

  .gameplay{
    flex-wrap:wrap;
    flex-direction: column ;
  }

  .gameplay-left video{
    margin: auto;
    transform:skew(0.1deg,0.1deg);
    box-shadow:none;
    z-index: 1000;
    background-color:black;
  }

  .gameplay-left video:hover{
    transform: skew(0.1deg, 0.1deg) translateY(10px);
    box-shadow: -3px -3px 5px #08aacd;
  }


}
